.present-day {
  background-color: #bbf7d0 !important; /* Tailwind green-200 */
  color: #000 !important;               /* Dark font color */
  border-radius: 6px;
  border : 1px solid #4F46E5;
}

.partial-present {
  background-color: #fef08a !important; /* Tailwind yellow-200 */
  color: #000 !important;
  border-radius: 6px;
}

.absent-day {
  background-color: #fecaca !important; /* Tailwind red-200 */
  color: #000 !important;
  border-radius: 6px;
}
